<div align="center">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <h2 class="jumbotron">CLC Minesweeper Application</h2>
    <hr />
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div style="float: right">

                @Html.ActionLink("Home", "", "Home", new { area = "" }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Login", "index", "login", new { area = "" }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Register", "index", "register", new { area = "" }, new { @class = "btn btn-primary" })
            </div>

        </div>
    </div>
</div>